<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a href="/todos" class="nav-link">
          <i class="menu-icon users"></i>
          <span class="menu-title">
            Todos
          </span>
        </a>
      </li>
    </ul>
  </nav>