<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
                <div class="offset-md-2 col-md-8 grid-margin stretch-card pt-4">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="text-center mb-4">Todo Application</h3>
                      <% include ./partials/messages %>
                      <form action="/todos" method="POST">
                        <label for="">Add Todo</label>
                        <input type="text" name="title" placeholder="Title" class="form-control" required />
                        <button type="submit" class="btn btn-primary btn-sm mt-1">Create todo</button>
                      </form>
                      <hr>
                      <div>
                        <ol>
                          <%
                            for(let i=0; data.length > i; i++) {
                              let todo = data[i];
                          %>
                              <li class="mb-2">
                                <form action="/todos/<%= todo._id %>?_method=PUT" method="POST" style="display:inline">
                                  <label><input name="is_completed" type="checkbox" <%= todo.is_completed ? 'checked' : '' %> /> <%= todo.title %></label>
                                </form>

                                <form class="float-right" action="/todos/<%= todo._id %>?_method=DELETE" method="POST" style="display:inline">
                                  <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                              </li>
                          <% } %>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <% include ./partials/scripts %>
</body>

</html>

