<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./partials/header %>
      <!-- Create form  -->
      <h3>Edit todo</h3>
      <% include ./partials/messages %>
      <form action="/todo/<%= todo._id %>?_method=PUT" method="POST">
        <label for="">Todo title</label>
        <input type="text" name="title" placeholder="Title" value="<%= todo.title %>">
        <button type="submit">Update todo</button>
      </form>
    <hr>
    <% include ./partials/footer %>
  </body>
</html>
