<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
  <div class="container-scroller">
    <% include ./partials/header %>

    <div class="container-fluid page-body-wrapper">
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <% include ./partials/sidebar %>

      <!-- partial -->
      <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="">
                                <h3>Edit Profile</h3>
                            </div>
                            <div class="editProfileForm">
                                <form action="/profile/update" method="post" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">First Name</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" name="full_name" placeholder="First Name" value="<%= user.full_name %>" required>
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Email</label>
                                        <div class="col-sm-9">
                                          <input type="email" class="form-control" name="email" placeholder="Email Address" value="<%= user.email %>" required>
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Profile Picture</label>
                                        <div class="col-sm-9">
                                          <input type="file" class="form-control" name="image">
                                          <br>
                                          <%
                                            if(user.image) { %>
                                                <img src="/uploads/<%= user.image %>" alt="Profile picture">
                                            <% }
                                          %>
                                        </div>
                                      </div>
                                      <button type="submit" class="btn btn-primary mr-2">Update</button>
                                      <a class="btn btn-light" href="/profile">Cancel</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <% include ./partials/footer %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/js/todolist.js"></script>
</body>

</html>

