<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <hr>
      <!-- Create form  -->
      <form action="/todo/<%= todo._id %>?_method=PUT" method="POST">
        <label for="">Todo title</label>
        <input type="text" name="title" placeholder="Title" value="<%= todo.title %>" required>
        <button type="submit">Update todo</button>
      </form>
    <hr>
  </body>
</html>
