<html>
    <head>
        <title>Todo Application</title>
        <style>
            body {
                padding: 1% 5%;
            }
            p {
                margin-top: 10px;
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <h1>Todo Application</h1>
        <p>
            Link to the API Documentation: <a href="/api-docs">Swagger API Documentation</a>
        </p>
        <p>
            Link to the app: <a href="/dashboard">Go to App</a>
        </p>
        <p>
            Link to github repo: <a href="https://github.com/prajwalbati/express-todo-demo" target="_blank">Github URL</a>
        </p>
    </body>
</html>